/*==================Header============================*/
.header-left{
    padding-top: 11px;
}
.btn-link{
    color: #6c757d!important;
}
.category-icon-home-view{
    width: 60px;
    height: 60px;
}
#header{
    padding-left: 122px;
    padding-right: 122px;
}
.container{
    padding-top: 20px;
}
.right-panel .navbar-brand img {
    max-width: 132px;
}
/*==================admin===============*/
.list-group-item .fa{
    padding-right: 11px;
}
.list-group-item a{
                color: #878787;
            }
/*==================footer============================*/
footer .container{
    padding-top: 0px;
}
.footer{
    background: #6c757d;;
    color:white;

    .links{
        ul {list-style-type: none;}
        li a{
            color: white;
            transition: color .2s;
            &:hover{
                text-decoration:none;
                color:#4180CB;
            }
        }
    }  
    .about-company{
        i{font-size: 25px;}
        a{
            color:white;
            transition: color .2s;
            &:hover{color:#4180CB}
        }
    } 
    .location{
        i{font-size: 18px;}
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}
.footer p,a,small {
    color: #cccccc;
}