.addcard {
    margin-bottom: 1.875em;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    
    background-color: #f7ffe4;
}
.card-title{
    color: green;
}
.message-text {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    word-break: break-all;
    font-size: 15px;
}
.btn-link{
    color: green;

}
.user {
    -webkit-border-radius: 4px 4px 0 0;
    /*padding: 40px 10px 10px;*/
    position: relative; 
    /*min-height: 170px;*/
    margin-top: 15px;
}
.user img{
    width: 41px;
}
.user button{
    margin-top: 10px;
    margin-left: 5px;
}
.media-body{    
    height: 12px;
}
.media-body p{    
    margin-bottom: -6px;
    font-size: 13px;
}